@using makeupStore.Web.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="productDetails">
        <img src="~/css/1.jpg" height=150px width=150px>
        <div>
            <h1>@Model.Name</h1>
            <p>@Model.Category</p>
            <h2>@((Model.Price).ToString("c"))</h2>
            <p>Count: @Model.Category</p>
            <div class = "cartWrapper">
                <a class="addBtn" type="button" asp-action="StorageUpdateForm" asp-route-productDto = "@Model">Update</a>
                <a class="addBtn" type="button" asp-action="StorageDeleteById" asp-route-productId = "@Model.ProductId">Delete</a>
            </div>
            <p class ="productDescr">@Model.Description</p>
        </div>
    </div>
</form>