@model IEnumerable<OrderHeaderDto>?

@{
    Layout = null;
}

<!DOCTYPE html>
@foreach (var item in Model)
{
    <div>
        <h1>@item.Name</h1>
        <p>@item.Phone</p>
        <h2>@((item.OrderTotal).ToString("c"))</h2>
        <h2>@((item.OrderTime).ToString("dd MMM HH:mm:ss"))</h2>
        <h2>@(item.Status)</h2>
        <a class="showDetailsBtn" type="button" asp-action="OrderDetail" asp-route-orderId = "@item.OrderHeaderId">Learn more</a>
    </div>
}